.container {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
   background-color: #f0f0f0;
}

.title {
   font-size: 3.5rem;
   text-align: center;
}

.difficultyContainer {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.difficulty {
   font-size: 2rem;
   width: 100%;
}

.btn {
   width: 100%;
   padding: 15px 30px;
   font-size: 1rem;
   font-weight: bold;
   background-color: #f0f0f0;
   border: 2px solid #000;
   border-radius: 50px;
   cursor: pointer;
   font-weight: 700;
   font-size: 1.2rem;
   text-decoration: none;
   color: #000;
   transition:
      background-color 0.3s,
      color 0.3s;
}

.btn:hover {
   background-color: #000;
   color: #f0f0f0;
}

.btn:active {
   transform: scale(1.1);
   transition: transform 0.3s;
   text-decoration: none;
}
